*
!README.md
!index.html
!package.json
!tsconfig.json
!dist/
!dist/historicTemperatures.js
!src/
!src/historicTemperatures.ts
!static/
!static/favicon.ico
!static/historicTemperatures.html
!static/styles.css
